---config
liveison=1;
starttimestamp=;
startdatetime=2000-01-01 00:00:00;
days_add=1;
agecoupled=20,40;
agedied=70,200;
pregnant=7,365; ... days after coupled 
givingbirth=230,252; ... days after pregnant
agemenopause=50,60;
